@page "/Repositories"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MRO.SMK.Docu.ApplicationCore.Constants
@using MRO.SMK.Docu.ApplicationCore.Services
@using MRO.SMK.SDK.Models
@inject NavigationManager _nav
@inject RepositoryService repositoryService
@inject ProtectedSessionStorage ProtectedSessionStore

<PageTitle>Repositories</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="9">
                <h1>Repositories</h1>
            </MudItem>
            <MudItem xs="3" Class="d-flex justify-end">
                <MudButton 
                    Variant="Variant.Filled" 
                    StartIcon="@Icons.Material.Filled.Add" 
                    Color="Color.Primary" 
                    OnClick="@(() => _nav.NavigateTo("repositories/add"))">Repository hinzufügen</MudButton>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="9">
            </MudItem>
            <MudItem xs="3" Class="d-flex justify-end">
                <MudTextField @bind-Value="_repoFilter"
                              Placeholder="Repositories durchsuchen"
                              Adornment="Adornment.Start"
                              Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Clearable="true"
                              Class="mt-0"></MudTextField>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12">
        <MudPaper>
            <MudList T="Repository">
                @foreach (var repo in Repos)
                {
                    <MudListItem OnClick="() => this.Nav(repo.Id)">
                        <AvatarContent>
                            <MudAvatar Color="Color.Primary">
                                @repo.Name.First()
                            </MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            @repo.Name
                        </ChildContent>
                    </MudListItem>
                }

            </MudList>
        </MudPaper>
    </MudItem>

</MudGrid>

@code {
    private string _repoFilter;

    public List<Repository> Repos { get; set; } = new List<Repository>();
    protected override void OnInitialized()
    {
        base.OnInitialized();

        this.Repos = repositoryService.List();
        this.StateHasChanged();
    }

    private async void Nav(Guid guid)
    {
        var repo = Repos.First(e => e.Id == guid);
        
        await ProtectedSessionStore.SetAsync(SessionStorageKeys.RepositoryId, repo.Id.ToString());
        
        this._nav.NavigateTo("/repository/" + repo.Id);
    }

}