@using BlazorMonaco.Editor

<MudGrid Spacing="15" Style="height: 100%">
    <MudItem md="6" Style="height: 100%">
        <MudGrid>
            <MudItem md="12">
                <MudCard Class="pb-7">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Outline</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid>
                            <MudItem md="12">
                                <CommentEditorInput @bind-BindingValue="@Model.Summary" 
                                                    AiDocumentationEnabled="@RepositoryFeatures.GenerateDoc" 
                                                    Lable="Zusammenfassung"
                                                    AiDocumentation="@AiComment.Summary"
                                                    LoadOnDemand="!AutoLoadAiSuggestions"
                                                    ShowAiPreviewButtonClicked="() => LazyLoadAiSuggestions()"></CommentEditorInput>
                            </MudItem>
                            @if (Comment.HasReturnValue)
                            {
                                <MudItem md="12">
                                    <CommentEditorInput @bind-BindingValue="@Model.Returns" 
                                                        AiDocumentationEnabled="@RepositoryFeatures.GenerateDoc" 
                                                        Lable="Rückgabewert"
                                                        AiDocumentation="@AiComment.Returns"
                                                        LoadOnDemand="!AutoLoadAiSuggestions"
                                                        ShowAiPreviewButtonClicked="() => LazyLoadAiSuggestions()"></CommentEditorInput>
                                </MudItem>
                            }
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </MudItem>

            @if (Comment.HasParameters)
            {
                <MudItem md="12">
                    <MudCard Class="pb-7">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">Parameter</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid>
                                @foreach (var param in Model.Params)
                                {
                                    var aiSuggestion = AiComment.Params.FirstOrDefault(e => e.Ref == param.Ref);
                                    if (aiSuggestion == null)
                                    {
                                        aiSuggestion = new();
                                    }
                                    
                                    <MudItem md="12">
                                        <CommentEditorInput @bind-BindingValue="@param.Text" 
                                                            AiDocumentationEnabled="@RepositoryFeatures.GenerateDoc" 
                                                            Lable="@param.DisplayName"
                                                            AiDocumentation="@aiSuggestion.Text"
                                                            LoadOnDemand="!AutoLoadAiSuggestions"
                                                            ShowAiPreviewButtonClicked="() => LazyLoadAiSuggestions()"></CommentEditorInput>
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }

            @if (Comment.CanThrowException)
            {
                <MudItem md="12">
                    <MudCard Class="pb-7">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudGrid>
                                    <MudItem>
                                        <MudText Typo="Typo.h6">Exceptions</MudText>
                                    </MudItem>
                                    <MudItem>
                                        <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary"
                                                       OnClick="AddException"></MudIconButton>
                                    </MudItem>
                                </MudGrid>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid>
                                @foreach (var param in Model.Exceptions)
                                {
                                    <MudItem md="7">
                                        <MudTextField For="() => param.Text"
                                                      @bind-Value="@param.Text"
                                                      Variant="Variant.Outlined"
                                                      Label="@("Exception " + (Model.Exceptions.IndexOf(param) + 1) + " Text")"
                                                      MaxLines="128"
                                                      AutoGrow="true"></MudTextField>
                                    </MudItem>
                                    <MudItem md="4">
                                        <MudTextField For="() => param.Ref"
                                                      @bind-Value="@param.Ref"
                                                      Variant="Variant.Outlined"
                                                      Label="@("Exception " + (Model.Exceptions.IndexOf(param) + 1) + " Referenz")"></MudTextField>
                                    </MudItem>
                                    <MudItem md="1">
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Secondary"
                                                       OnClick="e => Model.Exceptions.RemoveAt(Model.Exceptions.IndexOf(param))"></MudIconButton>
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    </MudItem>
    <MudItem md="6" Style="height: 100%">
        <div class="d-flex justify-space-between ml-6 mr-6 mb-4">
            <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="ToggleDisplayedCode">
                @if (DisplayingMethod)
                {
                    <MudText>Datei anzeigen</MudText>
                }
                else
                {
                    <MudText>Element anzeigen</MudText>
                }
            </MudButton>
            <MudButton OnClick="(async () => await this.SaveChanges())" Variant="Variant.Filled" Color="Color.Primary">
                Speichern
            </MudButton>
        </div>

        <StandaloneCodeEditor @ref="Editor" Id="code-editor-comment" CssClass="code-editor"
                              ConstructionOptions="EditorConstructionOptions"></StandaloneCodeEditor>
    </MudItem>
</MudGrid>

@code {

}